main {
  display: flex;
}

#main_contents {
  margin: 0;
  padding-top: 5%;
  padding-left: 5%;
}

#img_cherry {
  width: 40vw;
}

/* 
dark mode
 */
 .dark-mode {
  background-color: #1e272e;
  color: #dadada;
}

/* 
check box design
 */
#switch {
  display: none;
}
.toggle2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 75px;
  width: 56px;
  height: 32px;
  background: #dfe2e3;
  border-radius: 84px;
  transition: background 200ms cubic-bezier(.445,.05,.55,.95);
}
.toggle2:before,.toggle2:after {
margin-top:5px;
}
.toggle2:before {
  content: "Light";
  position: absolute;
  left: -85px;
  color: #749ed7;
}
.toggle2:after {
  content: "Dark";
  position: absolute;
  right: -75px;
}
.toggle__handler {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #ffe5b5;
  background: #ffde7b;
  border-color: #debd56;
  box-shadow: none;
  background-size: 0;
  transition: transform .5s;
  border: 0.188em solid #caba94;
}
#switch:checked+.toggle2{
background:#dfe2e3
}
#switch:checked+.toggle2:before{
color:var(--font-color)
}
#switch:checked+.toggle2:after{
color:var(--check-color)
}
#switch:checked+.toggle2 .toggle__handler{
width:26px;
height:26px;
border-radius:50%;
display:inline-block;
transform:translate3d(28px,0,0) rotate(0);
border:.188em solid #caba94;
background:#ffefb5;
box-shadow:inset -.15em -.15em #ffe096;
background-image:radial-gradient(circle at 60% 10%,#e6cea5 15%,transparent 0),radial-gradient(circle at 30% 50%,#e6cea5 10%,transparent 0),radial-gradient(circle at 60% 70%,#e6cea5 13%,transparent 0);
transition:transform .2s ease-in-out,background .3s,border-color .3s
}