main {
  display: flex;
}

#main_contents {
  margin: 0;
  padding-top: 5%;
  padding-left: 5%;
}

#img_cherry {
  width: 40vw;
}

/* 
dark mode settings
 */
.dark-mode {
  background-color: #1e272e;
  color: #dadada;
}
.dark-mode {
  #nav {
    background-color: #0e0700;
  }
  .nav_a {
    color: #95afc0;
  }
}
.dark-mode {
  #sidebar {
    background-color: #0e171e;
    color: whitesmoke;
  }
  .sidebar_a {
    color: whitesmoke;
  }
}

/* 
check box design
 */
#switch {
  display: none;
}
.toggle2 {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  right: 120px;
  bottom: 80px;
  margin-left: 75px;
  width: 56px;
  height: 32px;
  background: #dfe2e3;
  border-radius: 85px;
  transition: background 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle2:before,
.toggle2:after {
  margin-top: 5px;
}
.toggle2:before {
  content: "Light";
  position: absolute;
  left: -85px;
  color: #749ed7;
}
.toggle2:after {
  content: "Dark";
  position: absolute;
  right: -75px;
  color: #debd56;
}
.toggle__handler {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #ffde7b;
  border-color: #debd56;
  box-shadow: none;
  background-size: 0;
  transition: transform 0.5s;
  border: 0.188em solid #caba94;
}
#switch:checked + .toggle2 .toggle__handler {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  transform: translate3d(28px, 0, 0) rotate(0);
  border: 0.188em solid #caba94;
  background: #ffefb5;
  transition: transform 0.2s ease-in-out, background 0.3s, border-color 0.3s;
}

/* 
time location settings
*/
#clock {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
