#sidebar {
  position: sticky;
  background-color: #f1f2f6;
  text-align: center;
  top: 0;
  height: 100vh;
  box-shadow: 5px 5px 20px #00000031;
}

#img_my_face {
  width: 150px;
  height: 150px;
  margin: 30px 30px 40px 30px;
}

#contact {
  position: absolute;
  width: 200px;
  bottom: 10px;
  font-size: 1.5rem;
  padding-left: 5px;
}

#icone {
  display: flex;
}

#icone li {
  padding-left: 25px;
}

#icone li a {
  color: #2c3a47;
}

#icone li a:hover {
  font-size: 2rem;
}

@media screen and (max-width: 630px) {
  #sidebar {
    display: none;
  }
}

/* 
dark mode settings
*/
.dark-mode {
  #sidebar {
    background-color: #0e171e;
    color: whitesmoke;
  }
  #icone li a {
    color: whitesmoke;
  }
}